.cell {
    position: absolute;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.cell:hover {
    opacity: 0.7;
}

.cell:active {
    opacity: 0.4;
}
